<div class="">
    <div class="">
        <h2 class="">Sign In</h2>
        <form class="" (ngSubmit)="onSubmit()" [formGroup]="signInForm">
            
            <!-- Email Input -->
            <div class="">
                <label class="" for="email">Email</label>
                <input class="" id="email" type="email" formControlName="email" placeholder="example@gmail.com" required />
                <div class="" *ngIf="signInForm.get('email')!.invalid && signInForm.get('email')!.touched">
                    Valid email is required.
                </div>
            </div>

            <!-- Password Input -->
            <div>
                <label class="" for="password">Password</label>
                <input class="" id="password" type="password" formControlName="password" placeholder="••••••••"
                    required />
                <div class="" *ngIf="signInForm.get('password')!.invalid && signInForm.get('password')!.touched">
                    Password is required.
                </div>
            </div>

            <!-- Sign In Button -->
            <div>
                <button class="" type="submit" [disabled]="signInForm.invalid">Sign In</button>
            </div>

            <!-- Additional Options -->
            <div class="">
                <a class="" href="/">Forgot password?</a>
                <a class="" href="auth/signup">Create an account</a>
            </div>

        </form>
    </div>
</div>