<div>
    <div>
        <h2>Sign Up</h2>

        <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
            <!-- Full Name Input -->
            <div>
                <label for="name">Full Name</label>
                <input id="name" type="text" formControlName="name" placeholder="John Doe" required />
                <div *ngIf="signUpForm.get('name')!.invalid && signUpForm.get('name')!.touched">
                    Full name is required.
                </div>
            </div>

            <!-- Email Input -->
            <div>
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" placeholder="you@example.com" required />
                <div *ngIf="signUpForm.get('email')!.invalid && signUpForm.get('email')!.touched">
                    Valid email is required.
                </div>
            </div>

            <!-- Password Input -->
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" formControlName="password" placeholder="••••••••" required />
                <div *ngIf="signUpForm.get('password')!.invalid && signUpForm.get('password')!.touched">
                    Password is required (min 6 characters).
                </div>
            </div>

            <!-- Confirm Password Input -->
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="••••••••"
                    required />
                <div *ngIf="signUpForm.get('confirmPassword')!!.invalid && signUpForm.get('confirmPassword')!.touched">
                    Passwords must match.
                </div>
            </div>

            <!-- Sign Up Button -->
            <div>
                <button type="submit" [disabled]="signUpForm!.invalid">
                    Sign Up
                </button>
            </div>

            <!-- Already have an account -->
            <div>
                Already have an account? <a href="auth/signin">Sign In</a>
            </div>
        </form>
    </div>
</div>