<!-- Toolbar -->
<div class="bg-gray-100">
    <div class="p-2 bg-white max-w-full mx-auto border-gray-300 border border-solid ">
        <div class="flex items-center justify-between">
            <!-- Logo and name website -->
            <div class="flex items-center space-x-3 min-w-fit">
                <div class="h-12 w-12">
                    <img class="object-contain" src="assets/logo1.png" alt="Cyber Guardian Logo">
                </div>
                <div class="text-xl font-semibold uppercase">Cyber Guardian</div>
            </div>

            <!-- Search Bar -->
            <div class="w-5/12 mx-3 hidden md:block">
                <input type="text" placeholder="Search something..."
                    class="w-full border border-gray-200 p-2 rounded-lg focus:outline-none focus:ring focus:border-blue-200">
            </div>

            <!-- Profile -->
            <div class="flex items-center justify-center mx-2 min-w-fit">
                <!-- Avatar-->
                <div class="w-10 h-10"><img src="assets/avatar-profile.png" alt="avatar"></div>
                <!-- Name -->
                <div class="text-lg font-semibold text-gray-700 mx-2">Hello World</div>
            </div>
        </div>
    </div>
</div>

<!-- Main -->
<div class="grid grid-cols-5 gap-4 h-screen">

    <!-- Left Sidebar -->
    <div class="col-span-1 border-r-2 bg-white p-4 h-full overflow-hidden">
        <nav class="flex flex-col space-y-1 float-end">
            <a class="nav-link" routerLink="dashboard">
                <div class="md:block hidden mx-2">Dashboard</div>
                <app-icon iconName="home"></app-icon>
            </a>
            <a class="nav-link" routerLink="categories">
                <div class="md:block hidden mx-2">Categories</div>
                <app-icon iconName="apps"></app-icon>
            </a>
            <a class="nav-link" routerLink="">
                <div class="md:block hidden mx-2">Top Questions</div>
                <app-icon iconName="question_answer"></app-icon>
            </a>
            <a class="nav-link" routerLink="">
                <div class="md:block hidden mx-2">RelatedLinks</div>
                <app-icon iconName=""></app-icon>
            </a>
        </nav>
    </div>

    <!-- Main content-->
    <div class="col-span-3 bg-white p-4 h-full overflow-y-auto">
        <router-outlet></router-outlet>
    </div>

    <!-- Right Sidebar -->
    <div class="col-span-1 bg-gray-200 p-4 h-full overflow-hidden">
        <!-- Nội dung bên phải -->
    </div>
</div>